<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>542560367660-8rpil71ttefi3u5sigpkc34menidq5d7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.542560367660-8rpil71ttefi3u5sigpkc34menidq5d7</string>
	<key>API_KEY</key>
	<string>AIzaSyDGdzKTu6dwwftc_C3pvAVfC1TwbHINKp8</string>
	<key>GCM_SENDER_ID</key>
	<string>542560367660</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalProject</string>
	<key>PROJECT_ID</key>
	<string>not-atlas</string>
	<key>STORAGE_BUCKET</key>
	<string>not-atlas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:542560367660:ios:fd8e224f8a217d11ab8d89</string>
	<key>DATABASE_URL</key>
	<string>https://not-atlas-default-rtdb.firebaseio.com</string>
</dict>
</plist>